/*.error {
    border-radius: 4px;
    background-color: #ff3860;
    color: #fff;
    font-size: .9em;
    padding: 1em;
    margin-bottom: 1em;
    line-height: 1.4;
    cursor: pointer;
    transition: opacity .8s;
  }
  */
  .error.closing {
    opacity: 0;
  }

  /* permet d'ajouter un style lorsque le saisie du field est invalide

  .invalid {
    background-color: aqua;
  }

  */