.logo {
    color: $dark-blue;
    font-family: 'Itim', cursive;

    &__slogan {
            margin-top: -0.5em;
            font-size: 0.7em;
            font-family: 'Itim', cursive;
            color: $dark-blue
    }
}


