html {
    min-height: 100vh;
    position: relative;
    
  }
    
    body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    color: $dark-blue;    
  }

.main {
  margin-top: 10em;
  
}

  @media (max-width: 991px) {
    body {
      padding-top : 2em;
      padding-bottom: 5em;
    }
  }
