html {
    min-height: 100vh;
    position: relative;
    padding-bottom: 3em;
  }
    
    body {
    font-family: 'Acme', sans-serif;
    margin: 0;
  
    background-image:
    radial-gradient(
      circle at top right,
      #2b46f2,
      #ed0909
    );
    
  }

  @media (max-width: 991px) {
    body {
      padding-top : 2em;
      padding-bottom: 5em;
    }
  }